@model List<Ofis_ISE309.Models.EntityFramework.Personel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Personeller Listesi</h2>
<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Ad</th>
            <th scope="col">Soyad</th>
            <th scope="col">Departman</th>
            <th scope="col">Yaş</th>
            <th scope="col">Maaş</th>
            <th scope="col">DoğumTarihi</th>
            <th scope="col">Cinsiyet</th>
            <th scope="col">EvlilikDurumu</th>



        </tr>
    </thead>
    <tbody>
        @foreach (var personel in Model)
        {
            <tr>
                <td>@personel.Ad</td>
                <td>@personel.Soyad</td>
                <td>@personel.Departman.Ad</td>
                <td>@(DateTime.Now.Year - personel.DogumTarihi.Value.Year)</td>
                <td>@personel.Maas</td>
                <td>@personel.DogumTarihi.Value.ToString("dd-MM-yyy")</td>
                <td>@(personel.Cinsiyet==true?"Kadın":"Erkek")</td>
                <td>@(personel.EvliMi==true?"Evli":"Bekar")</td>
            </tr>
        }

    </tbody>
</table>

